.single-comment {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.single-comment > img {
    height: 40px;
    width: 40px;
    border-radius: 100%;
    padding: 10px;
}

.single-comment form {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.single-comment form textarea {
    width: 400px;
    height: 60px;
    font-size: 14px;
    resize: none;
}

.single-comment button {
    height: 30px;
    width: 70px;
    font-size: 14px;
    margin-right: 10px;
    border-radius: 5px;
    border: 1px solid black;
    color: white;
    background-color: #3498db;
    transition: background-color .15s ease-in-out;
    cursor: pointer;
}

.single-comment button:hover {
    background-color: #256793;
}

#comment-username {
    margin-left: -50px;
}
