#new-comment-form {
    width: 80%;
    height: 100px;
    margin: auto;
    margin-bottom: 30px;
}

#new-comment-form form {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

#new-comment-form textarea {
    width: 80%;
    height: 90px;
    font-size: 14px;
    resize: none;
    left: 0;
}

#new-comment-form form button {
    height: 30px;
    width: 70px;
    font-size: 14px;
    margin-right: 10px;
    border-radius: 5px;
    border: 1px solid black;
    color: white;
    background-color: #3498db;
    transition: background-color .15s ease-in-out;
    cursor: pointer;
}

#new-comment-form form button:hover {
    background-color: #256793;
}

.comment-text {
    width: 300px;
    overflow-x: scroll;
    overflow-y: visible;
}
